
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  font-family: Times New Roman;
  font-size: 22px;
}

/* Reusable Components */
.form-container {
  margin: 10% auto 0 auto;
  width: 60%
}

#submit-request-button {
  background-color: #f26925;
  border-color: #f26925;
  color: #fff;
}
